/* .appContainer {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
} */

/* .HomePage {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  
} */

/* .Navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;

} */


/* .UploadLogo  {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  font-size: 14px;
  color: black;
  font-weight: bold;
} */

/* .form {
  display: flex;
  flex-direction: column;
} */
/* .buttondiv {
  display: flex;
} */
a {
  text-decoration: none;

}

/* .leaflet-map.leaflet-container.leaflet-touch.leaflet-fade-anim.leaflet-grab.leaflet-touch-drag.leaflet-touch-zoom {
  z-index: 0;
} */

/* .uploadPage, .formContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;  
} */

.buildingFormMap{
  height: 80%;
  width: 100vw;
  padding: 0;
  margin: 0;
}