<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>what-a-drop</title>
</head>
<body>
  <a href="/dashbord/" style="float: right; margin-top: 25px; text-decoration: none; text-transform: uppercase;" >Back to the previous page</a>
<br>
<div class="container">
<h1 class="proname"><span class="nom"><%= name %></span>' S hotdrop selection </h1>
<br>
<br>
<form action="/slides/<%= name %>/<%= _id %>" method="POST" enctype="multipart/form-data">

        <div>
          <label for="avatar"><h4>Select profile picture</h4><br></label>
          <img id="avatar" 
                src="/Image.jpg" 
                alt="your image" width="200px" height="200px" style="border-radius: 50%;" />
          <input type="file" id="avatar" name="image"
          onchange="document.getElementById('avatar').src = window.URL.createObjectURL(this.files[0])"
                accept=".jpg, .jpeg, .png" />
        </div>


  <div>
    <label for="slide1"><h4>Select slide One picture</h4><br></label>
    <img id="slide1" 
          src="/Image.jpg" 
          alt="your image" width="200px" height="200px" />
    <input type="file" id="avatar" name="image"
    onchange="document.getElementById('slide1').src = window.URL.createObjectURL(this.files[0])"
          accept=".jpg, .jpeg, .png" />
  </div>
  <br>
  <div>
    <label for="slides"><h4>Select slide Two picture</h4><br></label>
    <img id="slide2" 
          src="/Image.jpg" 
          alt="your image" width="200px" height="200px" />
    <input type="file" id="avatar" name="image"
    onchange="document.getElementById('slide2').src = window.URL.createObjectURL(this.files[0])"
          accept=".jpg, .jpeg, .png" />
  </div>
  <button type="submit" name="submit" value="Add Image">Validate</button>
</form>


</div>
</body>
</html>