


    <div class="container">

      <div class="slide"style="background-image: url('/images/travis-scott-jordan-1-low-1670838159.jpg');">
        <h3>Asus</h3>
      </div>

      <div class="slide"style="background-image: url('/images/AIR-JORDAN-1-HIGH-OG-DIOR-PACKSHOT-7.jpg');">
        <h3>PS 4</h3>
      </div>

      <div class="slide"style="background-image: url('/images/air-jordan-4-university-blue-closer-look-relase-info-1.jpg');">
        <h3>Gaming</h3>
      </div>

      <div class="slide"style="background-image: url('/images/air-jordan-4-university-blue-closer-look-relase-info-1.jpg');">
        <h3>Xbox</h3>
      </div>

      <div class="slide"style="background-image: url('/images/yeezy-700-wash-orange-IG-1024x1280.jpg');">
        <h3>Razer</h3>
      </div>
      
    </div>
    
   <style>
 @import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

.container {
    width: 70%;
  display: flex;
  
}
.slide {
    height: 400px;;
  border-radius: 20px;
  margin: 10px;
  cursor: pointer;
  color: #fff;
  flex: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  transition: all 500ms ease-in-out;
}
.slide h3 {
  position: absolute;
  font-size: 20px;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
  color: whitesmoke;
}
.slide.active {
  flex: 10;
}
.slide.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}
   </style>
<script>
    function sliderPluggin(activeslide = 0) {
  const slides = document.querySelectorAll('.slide');
  
  slides[activeslide].classList.add('active');

  function clearActiveClasses() {
    slides.forEach((slide) => {
      slide.classList.remove('active');
    });
  }

  for (const slide of slides) {
    slide.addEventListener('click', () => {
      clearActiveClasses();
      slide.classList.add('active');
    });
  }
}

sliderPluggin(0);
</script>
    























<!-- 
 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
</head>
<body>
    <section class="feed" style="display: flex;
    margin: 100px 18px;">
        <div class="feedPictures" style="display: flex;
        justify-content: space-between;
        height: 100%;">
            
            <div class="duo" style="display: flex;
            flex-direction: column;
            justify-content: space-between;" >
                <div class="gallery-item" id="impair1">
                    <img class="gallery-image" src="/images/yeezy foam.jpg" />
                </div>

                <div class="gallery-item" id="pair2">
                    <img class="gallery-image" src="/images/adidas ozwego beige.jpg" style="height: 360px;"/>
                </div> 
            </div>
            
            <div class="duo" style="display: flex;
            flex-direction: column;
            justify-content: space-between;" >
                <div class="gallery-item" id="impair3">
                    <img class="gallery-image"  src="/images/adidas samba.jpg" style="    top: 100px;
                    position: absolute;
                    height: 405px;" />
                </div>

                <div class="gallery-item" id="pair4">
                    <img class="gallery-image" src="/images/adidas slide onyx.jpg" style="height: 235px;"/>
                </div>
            </div>
           
            <div class="duo" style="display: flex;
            flex-direction: column;
            justify-content: space-between;" >
                <div class="gallery-item" id="impair5">
                    <img class="gallery-image"  src="/images/adidas spezial black.jpg" style="position: absolute;
                        top: 97px;
                        left: 620px;
                        height: 165px;
                        width: 280px;" />
                </div>
        
                <div class="gallery-item" id="pair6">
                    <img class="gallery-image" src="/images/adidas stan smith j.crew.jpg" style="width: 205px;
                    position: absolute;
                    top: 100px;
                    left: 926px;
                    height: 510px;" >
                </div>
            </div>
            
            <div class="duo" style="display: flex;
            flex-direction: column;
            justify-content: space-between;" >
                <div class="gallery-item" id="impair7">
                    <img class="gallery-image"  src="/images/adidas flag.jpg" style="position: absolute;
                        top: 616px;
                        left: 620px;
                        height: 163px;
                        width: 539px;" />
                </div>
        
                <div class="gallery-item" id="pair8">
                    <img class="gallery-image" src="/images/yeezy boost 350 black.jpg" style="width: 218px;
                    position: absolute;
                    top: 516px;
                    left: 1165px;
                    height: 260px;" >
                </div>
            </div>
            
            <div class="duo" style="display: flex;
            flex-direction: column;
            justify-content: space-between;" >
                <div class="gallery-item" id="impair9">
                    <img class="gallery-image"  src="/images/adidas gazelle green yellow.jpg" style="top: 96px;
                    position: absolute;
                    height: 405px;
                    left: 1160px;" />
                </div>

                <div class="gallery-item" id="pair10">
                    <img class="gallery-image" src="/images/yeezy-700-blue.jpg" style=" height: 310px;
                    position: absolute;
                    width: 270px;
                    top: 295px;"/>
                </div>
            </div>
    </section>
</body>
<style>
    /* .feed{
        display: flex;
        margin: 100px 18px;
        
    } */
    /* .feedPictures{
        display: flex;
        justify-content: space-between;
        height: 100%;
    } */
    .gallery-image {
        width: 220px;
        height: 265px;
        margin: 15px;
        object-fit: cover;
        transition: transform 400ms ease-out;
        box-shadow: 15px 20px 11px 0px rgba(0,0,0,0.34);
        -webkit-box-shadow: 15px 20px 11px 0px rgba(0,0,0,0.34);
        -moz-box-shadow: 15px 20px 11px 0px rgba(0,0,0,0.34);
        border-radius: 35px 35px 35px 35px;
        -webkit-border-radius: 35px 35px 35px 35px;
        -moz-border-radius: 35px 35px 35px 35px;
    }
    /* .duo{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    } */
</style>
</html>  -->