<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="/dashbord/" method="POST" enctype="multipart/form-data">
    <label for="feed-input">Select image</label>
    <img id="feed-preview"src="/images/Image.jpg" 
    alt="your image" width="50%" height="50%" style="margin-left: 150px;"/>
<input type="file" id="avatar" name="image"
onchange="document.getElementById('feed-preview').src = window.URL.createObjectURL(this.files[0])"
    accept=".jpg, .jpeg, .png" />
    <input type="submit" value="Submit">
</body>
</html> -->