<!-- <body>
  <div class="container">


    <div class="card"style="
    /* height: 400px; */
    object-fit: cover;
    border-radius: 5%;
    margin: 10px;
    padding: 0px 0px;
    border-radius: 35px 35px 35px 35px;
    -webkit-border-radius: 35px 35px 35px 35px;
    -moz-border-radius: 35px 35px 35px 35px;
    margin-top: 150px;
    /* padding-bottom: 100px; */
    /* padding-top: 0px; */
    /* background: border-box; */
    height: 410px;">

      <div class="slide"style="margin-top: 200px;">
        <img src="/images/adidas gazelle green yellow.jpg" alt="Avatar"
         style="
    width: 275px;
    height: 300px;
    object-fit: cover;
    border-radius: 5%;
    margin: 10px;
    padding: 0px 10px;
    border-radius: 35px 35px 35px 35px;
    -webkit-border-radius: 35px 35px 35px 35px;
    -moz-border-radius: 35px 35px 35px 35px;
    margin-top: -180px;">
       </div>
    </div>
    
    
    
  </div>
  
  </body>
  <script>
    function sliderPluggin(activeslide = 0) {
  const slides = document.querySelectorAll('.slide');
  
  slides[activeslide].classList.add('active');

  function clearActiveClasses() {
    slides.forEach((slide) => {
      slide.classList.remove('active');
    });
  }

  for (const slide of slides) {
    slide.addEventListener('click', () => {
      clearActiveClasses();
      slide.classList.add('active');
    });
  }
}

sliderPluggin(0);
  </script>
<style>


.container {
  width: 100%;
  display: flex;
  padding: 0 20px;
}

.slide {
  height: 50vh;
  border-radius: 20px;
  margin: 10px;
  cursor: pointer;
  color: #fff;
  flex: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  transition: all 500ms ease-in-out;
}

.slide h3 {
  position: absolute;
  font-size: 20px;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.slide.active {
  flex: 10;
}

.slide.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}
</style> -->
