*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
h1{
    display: flex;
    justify-content: center;
    color: white;
    margin: 5%;
    font-size: 55px;
}
main{
    font-size: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
input[type=text]{
    width: 302px;
    height: 50px;
    box-shadow: 1px 1px 1px black;
    background-color: grey;
    cursor: pointer;
}
input[type=button]{
    width: 100px;
    height: 50px;
    font-size: 40px;
    background-color: grey;
    cursor: pointer;
}
.clr{
    position: relative;
    top: 5px;
    
}